.dashboard {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100vw;
  height: 100vh;
  background-color: #0a0a0a;
  overflow: hidden;
}

.dashboard-left {
  height: 100%;
  overflow: hidden;
}

.dashboard-right {
  height: 100%;
  border-left: 2px solid #1a1a1a;
  overflow: hidden;
}

